 body,
        html {
            font-family: helvetica;
            font-size: 14px;
            width: 100vw;
            height: 100vh;
            position: absolute;
            padding: 0;
            margin: 0;
        }
        .inputFile{

        }
        .center{
            margin-left: 25%;
            width: 50vw;
            height: 100vh;
            background-color: #11172F;
        }

        .left{
         margin-left: 0%;
         position:absolute;
         overflow-x: auto;
         overflow-y: auto;
         width: 25vw;
         height: 100vh;
            background-color: #11172F
        }

        .right{
            margin-left: 75%;
            width: 25vw;
            position: absolute;
            height: 150vh;
            background-color: #11172F
        }

       svg:not(.tree_view_svg) {
           width: 100%;
           height: 100%;
           background-color: #11172F
       }

        h1 {
            opacity: 0.5;
            font-size: 1em;
            margin: 0.25em;
        }

        #tree{
            overflow-x: auto;
            overflow-y: auto;
            height: auto;
        }

        #tree svg:not(:root) {
            overflow-x: auto;
        }

        #tree .tree_node rect {
            cursor: pointer;
            fill-opacity: 1;
            stroke: #FFFFFF;
            stroke-width: 0.6px;
        }

        #tree .tree_node text {
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            font-size: 15px;
            font-weight: 100;
            pointer-events: none;
            color: #3AA9AD;
            text-align : center;
        }

        #tree path.link {
            fill: none;
            stroke: #3AA9AD;
            stroke-opacity: 1;
            stroke-width: 2px;
        }

        #tree btn.panjiva-button {
            margin-left: 10px;
        }

        #tree div.tooltip {
            position: fixed;
            width: 250px;
            min-height: 100px;
            background: #fff;
            border: 0;
            border-radius: 0;
            -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 9px rgba(0, 0, 0, 0.4);
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            font-size: 12px;
            padding: 5px;
            pointer-events: none;
        }


        #tree div.tooltip .popover-title {
            background-color: #FFFFFF;
            border-radius: 0;
            color: #3AA9AD;
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            font-weight: 300;
            margin: -5px -5px 0;
            text-align : center;
        }

        #tree div.tooltip .popover-content {
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.5;
            padding-left: 10px;
            color: #3AA9AD;
        }

        #tree div.tooltip .btn-white {
            position: absolute;
            right: 10px;
            bottom: 10px;
            left: 10px;
            width: 91%;
            background: #fff;
            border: 2px solid #ededed;
            color: #2d8ac3;
            text-align: center;
        }

        #tree div.tooltip .btn-white:hover {
            background: #2d8ac3;
            border: 2px solid #2d8ac3;
            color: #fff;
        }

        .bird_view_node {
          cursor: pointer;
          color: #16425b;

        }

        .bird_view_link {
          fill: none;
          stroke: #ccdbdc;
          stroke-width: 1.5px;
        }

        .main_view_node {
          cursor: pointer;
          color: #3AA9AD;

        }

        .main_view_link {
          fill: none;
          stroke: #C9ADA7;
          stroke-width: 1.5px;
        }


        .links line {
          stroke: #E2BCB7;
          stroke-opacity: 0.6;
        }

        .nodes circle {
          stroke: #CA8A8B;
          stroke-width: 1.5px;
        }

        .btn-outline-success {
            margin-left: 25px;
            margin-right: 6px;
            color: #bcd4e6 !important;
            border-color: #bcd4e6 !important;
        }

        #valueForFilter, #valueForSearch {
            margin-left: 20px;
        }
        .btn-outline-success:focus {
            outline: #3a7ca5 auto 5px !important;
        }
        .btn-outline-success:active {
            outline: #3a7ca5 auto 5px !important;
        }
        .ul-15{
            margin-left: 15%;
        }
        .ul-40{
            margin-left: 40%;
        }